<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>1193</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwsf4MJQv2BwrSlJhTGFxbpZb4Z661NvQEuhb+1Iyf/ayyBAmtc6Q87qXhHT01byV8kuowAYYRj9GMkva3mmdLHw==}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.0.4">
      <data class="concurrent-hash-map">
        <entry>
          <string>API_10.116.x</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>CNC_10.116.24</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>MakeRevertPack</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>CNC2_TEST</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>CNC2_11822</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>CNC_10.116.x</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>RevertOQCDB</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>API_trunk</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>CNC_trunk</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>MMI_10.118.12</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>SaveOQCDB</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>SaveOQCFileConfig</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>MMI_10.118.24</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>MMI_10.118.29</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>RecordConfig</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>MMI_10.118.28</string>
          <boolean>true</boolean>
        </entry>
      </data>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>全部</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.20"/>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
  </properties>
</user>